<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>An ecommerce point of view from technical to business</h1>
            <hr>
            <p>Overall 7 year experience in ecommerce with various ecommerce technologies: Magento/WooCommerce/Demandware/Hybris/Shopify - in various roles developer/architecture/project manager/product owner...</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
